$white: #FFFFFF;
$light-blue:#38AEF0;
$dark-gray: #434A54;
$light-gray:#999999;
$alert_orange: #F35500;

$side-header: #253141;
$side-groups: #2f3e51;
$content_header__title: #333333;
$messages-gray: #fafafa;
$form-gray: #dddddd;
